<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130085704253-22qmqldtats1l9el0qpvuu900ac7ieip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130085704253-22qmqldtats1l9el0qpvuu900ac7ieip</string>
	<key>API_KEY</key>
	<string>AIzaSyBO50uHRrF98ZW5Y5ihAO0tT2B8BJYk8as</string>
	<key>GCM_SENDER_ID</key>
	<string>130085704253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patrickhaoy.MDBSocials</string>
	<key>PROJECT_ID</key>
	<string>mdbsocials-78366</string>
	<key>STORAGE_BUCKET</key>
	<string>mdbsocials-78366.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130085704253:ios:886d79c2d5c13c66efd054</string>
	<key>DATABASE_URL</key>
	<string>https://mdbsocials-78366.firebaseio.com</string>
</dict>
</plist>